

#include "graph.cfg"

sets
(
    line
    {
        type            lineUniform;
        axis            $axis;
        start           $start;
        end             $end;
        nPoints         $nPoints;
    }
);

// ************************************************************************* //